/* Dominic Cucar, 2/12/26 */

body {
	background-color: #f5efe6;
	color: #4b3832;
}

header {
	background-color: #8b5e3b;
	color: #ffffff;
}

nav {
	background-color: #d4a373;
}

main {
	background-color: #ffffff;
}

footer {
	background-color: #8b5e3b;
	color: #ffffff;
}
