/* 
    Dominic Cucar, 04/13/2026
*/

body {
     background: url('images/santafehillsmap.png') no-repeat center fixed;
     background-size: cover;
}

/* Mobile styles go first */

* {
    box-sizing: border-box;
}

/* Main container */

#wrapper {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    padding: 1em;
    background-color:burlywood;
    color: black;
    white-space: normal; /* responsive text */
    word-break: break-word; /* responsive text */
    overflow: hidden; /* responsive text */
}

header {
    text-align: center;
}

/* Menu bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

nav ul li a:hover {
    color: gold;
}

/* End of menu styling */

h1, h2, h3, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Back to top link */

.pre-footer {
    text-align: center;
}

footer {
    text-align: center;
}

/* Tablet styles go second */

@media (min-width: 768px) {

}

/* Desktop styles go last */

@media (min-width: 1200px) {

}
